[Unit]
Description={{ program.description }}
After=network-online.target

[Service]
{% if program["timer"] is defined and (program["timer"] | length > 0) %}
Type=oneshot
{% else %}
Type=simple
Restart=always
RestartSec=3
{% endif %}
{% for entry in program.environment | default([]) %}
Environment={{ entry }}
{% endfor %}
ExecStart=/usr/local/bin/{{ program.name }} {{ program.parameters | default([]) | join(" ") | replace("%", "%%") }}

[Install]
WantedBy=default.target
