[Unit]
Description={{ program.description }}
After=network-online.target

[Service]
{% if program["timer"] is defined and (program["timer"] | length > 0) %}
Type=oneshot
{% else %}
Type=simple
Restart=always
RestartSec=3
{% endif %}
{% if program["environment"] is defined and (program["environment"] | length > 0) %}
EnvironmentFile=/etc/{{ program.name }}.conf
{% endif %}
ExecStart={{ program_location }} {{ program.parameters | default([]) | join(" ") | replace("%", "%%") }}

[Install]
WantedBy=default.target
